<div class="modal fade" tabindex="-1" role="dialog" id="discount">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">&nbsp;</button>
            <div class="modal-image">
                <img src="images/img2.jpg" alt="">
            </div>
            <div class="modal-body">
                <h3><b>10% discount in Teranova</b></h3>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->