.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-left{
    margin-right: 0.5em;
  }
  &-right{
    margin-left:0.5em;
  }
  &-middle{
    vertical-align: middle;
    margin-top: -2px;
  }
  &-logout{
    height: 13px;
    width: 13px;
    background-image:url("../images/icon/logout.svg");
  }
  &-balance{
    height: 31px;	width: 35px;
    background-image:url("../images/icon/ballance.svg");
  }
  &-download{
    height: 25px;	width: 25px;
    background-image:url("../images/icon/download.svg");
  }
}