.form{
  &-name{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid $border_color_1;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  &-group{
    margin-bottom: 20px;
  }
  &-btn{
    margin-top: 35px;
  }
  &-text{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  &-control{
    background: $color_white;
    margin: 0;
    font-size: 16px;
    color: $color_text;
    outline: none;
    width: 100%;
    border: 2px solid $border_color_1;
    border-radius: 25px;
    vertical-align: top;
    line-height: normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 13px 35px;
    height: 50px;
    &:disabled{
      background: $color_gray_1;
      color: $color_white;
    }
    &:focus,
    &:hover{
      border-color:$color_gray_1;
    }
    &::-webkit-input-placeholder{
      color: $color_gray_1;
    }
    &:-moz-placeholder{
      color: $color_gray_1;
    }
    &:-ms-input-placeholder{
      color: $color_gray_1;
    }
    &.error{
      border-color: $color_red_1;
    }
    &.valid{
      border-color: $color_green_1;
    }
    &.warning{
      border-color:$color_yellow_1;
    }
  }
}
textarea.form-control{
  resize: vertical;
  max-height: 300px;
}