.category{
  &-table{
    .btn-success{
      text-align: right;
      min-width: 124px;
    }
    table{
      td:last-child{
        text-align: right;
        width: 10em;
      }
    }
    .name-mobile{
      display: none;
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
}
@media(max-width: 940px) {
  .category{
    h2{
      font-size: 20px;
    }
    &-table{
      margin-top: 0;
      table{
        font-size: 14px;
      }
    }
  }
}
@media(max-width: 560px) {
  .category{
    h2{
      font-size: 16px;
    }
    &-table{
      table{
        font-size: 12px;
        .cell-name{
          display: none;
        }
        .name-mobile{
          display: block;
        }
      }
    }
  }
}
@media(max-width: 400px) {
  .category{
    &-table{
      table{
        thead{
          display: none;
        }
       td{
         display: block;
         padding-left: 0;
         padding-right: 0;
         &:last-child{
           width: 50%;
           float: left;
         }
       }
        .cell-offer{
          width: 50%;
          float: left;
          text-align: left;
        }
        .link-download{
          font-size: 16px;
          margin-top: 3px;
        }
      }
    }
  }
}