<div class="category">
    <div class="container">
        <h2>Take advantage of many discounts on the leading shops on the island</h2>
        <div class="category-table">
            <table>
                <thead>
                <tr>
                    <th class="cell-name">Shop name</th><th>Outlet Locations</th><th class="cell-offer">Offer</th><th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">10% discount</a></td>
                    <td><a class="link link-download"><i class="icon icon-download"></i><span>Download PDF</span></a></td>
                </tr>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">5% discount</a></td>
                    <td><a class="link link-download"><i class="icon icon-download"></i><span>Download PDF</span></a></td>
                </tr>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">90% discount</a></td>
                    <td><a class="link link-download"><i class="icon icon-download"></i><span>Download PDF</span></a></td>
                </tr>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">10% discount</a></td>
                    <td><a class="link link-download"><i class="icon icon-download"></i><span>Download PDF</span></a></td>
                </tr>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">5% discount</a></td>
                    <td><a class="link link-download"><i class="icon icon-download"></i><span>Download PDF</span></a></td>
                </tr>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">90% discount</a></td>
                    <td><a class="link link-download"><i class="icon icon-download"></i><span>Download PDF</span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>