    <footer class="footer">
        <div class="container">
            <div class="footer-logo"><img src="images/logo.png" alt=""></div>
            <div class="footer-line"></div>
            <div class="footer-copy">© 2018 Genesis, All rights reserved</div>
        </div>
    </footer>

