.footer{
  text-align: center;
  padding: 40px 0;
  background: $color_white;
  .container{
    @include block_flex;
    @include flex_justify_between;
    @include flex_align_item_center;
    padding: 0;
  }
  &-line{
    background: #979797;
    opacity: 0.5;
    width: 100%;
    height: 2px;
    position: absolute;
    top:50%;
    left:0;
  }
  &-logo{
    img{
      margin-top: -10px;
    }
  }
  &-logo,
  &-copy{
    background: $color_white;
    position: relative;
    z-index: 1;
    padding: 0 20px;
  }
}
@media(max-width: 767px) {
  .footer{
    padding-bottom: 20px;
    .container{
      @include flex_wrap;
    }
    &-line{
      display: none;
    }
    &-copy,&-logo{
      width: 100%;
    }
    &-copy{
      margin-top: 10px;
    }
  }
}