.projects{
  &_item{
    padding: 0 15px 40px;
    max-width: 33.33%;
    .image{
      max-height: 224px;
      overflow: hidden;
      position: relative;
      img{
        width: 100%;
      }
    }
    .label{
      background: $color_green_2;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      border-radius: 5px;
      padding: 7px 8px;
      display: inline-block;
      vertical-align: top;
      color: white;
      position: absolute;
      top:10px;
      left: 10px;
    }
    .name{
      font-weight: bold;
      color: $color_title;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 1em 0 0.5em;
    }
    .text{
      line-height: 1.75;
    }
  }
  &-content{
    @include block_flex;
    @include flex_justify_between;
    margin-top: 40px;
    margin-left: -15px;
    &-list{
      @include block_flex;
      @include flex_wrap;
      width: 100%;
      max-width: 84%;
    }
    &-baner{
      width: 175px;
      max-width: 16%;
      padding-left: 15px;
    }
  }
}
@media(max-width: 940px) {
  .projects{
    &-content{
      margin-top: 0;
    }
    &_item{
      .text{
        font-size: 14px;
        line-height: 1.25;
      }
    }
  }
}
@media(max-width: 767px) {
  .projects{
    &-content{
      @include flex_wrap;
      margin-right: -15px;
      &-baner,
      &-list{
        max-width: 100%;
      }
      &-baner{
        height: 224px;
        padding: 0 15px;
        overflow: hidden;
        width: 100%;
      }
    }
    &_item{
      max-width: 50%;
    }
  }
}
@media(max-width: 520px) {
  .projects{
    &-content{
      @include flex_wrap;
      margin-right: 0;
      margin-left: 0;
      &-baner{
        padding: 0;
      }
    }
    &_item{
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
}