<header class="header">
    <div class="container">
        <div class="flexible">
            <a class="header-logo" href="https://maltamenu.com.mt/"><img src="images/logo.png" alt="genesis"></a>
            <div class="header-nav-user">
                <ul class="nav">
                    <li><a class="link" href="#">
                        <div class="header-nav-user-balance">
                            <div class="box-icon"><i class="icon icon-balance"></i></div>
                            Your balance:
                            <div class="balance">€ 100,00</div>
                        </div>
                    </a></li>
                    <li><a class="link" href="#">
                        <div class="header-nav-user-intro">
                            Welcome!
                            <div class="name">John Wilson</div>
                        </div>
                    </a></li>
                    <li><a class="btn btn-border btn-middle header-logout" href="#"><span class="name">Logout</span><i class="icon icon-right icon-middle icon-logout"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>