header{
  text-align: center;
}
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  line-height: 75px;
  z-index: 10;
  padding: 0;
  background: $color-white;
  border-bottom: 1px solid $border_color_1;
  &~.main{
    padding-top: 75px;
  }
  &-logo{
    text-transform: uppercase;
    font-size: 20px;
    img{
      vertical-align: middle;
      margin-top: -7px;
    }
  }
  &-nav{
    li{
      display: inline-block;
      vertical-align: top;
      position: relative;
      font-size: 14px;
      a{
        position: relative;
        &:hover{
          opacity: 0.3;
        }
      }
      &.active{
        a{
          opacity: 0.3;
        }
      }
    }
  }
  &-nav-user{
    &-balance{
      line-height: normal;
      background: $color_blue_1;
      color: $color_white;
      font-size: 12px;
      position: relative;
      text-align: left;
      .balance{
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
      }
      width: 195px;
      padding:20px 10px 20px 73px;
      .box-icon{
        position: absolute;
        left:20px;
        top:50%;
        @include web_transform(translateY(-50%));
      }
    }
    &-intro{
      line-height: normal;
      padding: 20px 25px;
      font-size: 12px;
      text-align: left;
      color: $color_text;
      .name{
        font-size: 16px;
        line-height: 1.125;
        color: $color_title;
      }
    }
    ul{
      position: relative;
    }
    li{
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      a{
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
  &-menu{
    line-height: normal;
    display: none;
    .btn-menu{
      margin-right: -15px;
    }
  }
}
@media(max-width: 1040px) {
  .header{
    &-nav{
      li{
        margin: 0 10px;
      }
    }
  }
}
@media(min-width: 941px) {
  .header-nav{
    display: block!important;
  }
}
@media(max-width: 940px) {
  .header{
    line-height: 57px;
    &~.main{
      padding-top: 57px;
    }
    &-logo{
      z-index: 11;
      img{
        height: 35px;
      }
    }
    &-nav{
      display: none;
      position: fixed;
      top:0;
      left:-100%;
      height: 100%;
      width: 100%;
      padding-top: 100px;
      line-height: 38px;
      z-index: 9;
      background: $color-white;
      li{
        display: block;
        margin: 0;
        &:after{
          display: none;
        }
        a{
          border-bottom: 3px solid transparent;
        }
        &.active{
          a{
            border-bottom-color: $color_white;
            opacity: 1;
          }
        }
      }
      &.open{
        left: 0;
      }
    }
    &-menu{
      z-index: 11;
      display: block;
      .btn-border{
        min-width: 145px;
      }
    }
    &-nav-user{
      &-balance{
        padding-top: 11px;
        padding-bottom: 11px;
      }
      &-intro{
        max-width: 140px;
        padding: 11px 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .name{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .menu-open{
    overflow: hidden;
    .header-logo{
      opacity: 0.99!important;
    }
  }

}
@media(max-width: 620px) {
  .header{
    &-logout{
      .name{
        display: none;
      }
      .icon{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
@media(max-width: 520px) {
  .header{
    &-logout{
      padding-right: 0.8em;
      padding-left: 0.8em;
      margin-right:-7px;
    }
    &-nav-user{
      &-balance{
        position: absolute;
        top:0;
        min-width: 180px;
        right: 45px;
        padding: 3px 7px 3px 32px;
        white-space: nowrap;
        width: auto;
        .icon-balance{
          height: 16px;
          width: 17px;
        }
        .box-icon{
          left:7px;
        }
        .balance{
          display: inline-block;
          vertical-align: top;
          font-size: 15px;
        }
      }
      &-intro{
        padding: 5px 10px;
        max-width: 180px;
        margin-top: 25px;
        .name{
          font-size: 15px;
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
}
@media(max-width: 400px) {
  .header{
    &-logo{
      width: 30px;
      overflow: hidden;
      img{
        max-width: none;
      }
    }
  }
}